n8n-daily-digest-v7.2-fixed.json
{
  "name": "Jarvis AI 管家 — 每日情報 v7.2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-001",
      "name": "Every Day 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * *"
            }
          ]
        }
      },
      "id": "schedule-002",
      "name": "Every Day 9PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/b57a9c1760784b93b003f221262ff635/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"filter\":{\"property\":\"狀態\",\"select\":{\"equals\":\"✅ 啟用\"}}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-notion-channels",
      "name": "Notion Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        400
      ],
      "credentials": {
        "notionApi": {
          "id": "ixkhHExGT30Z2UWZ",
          "name": "Jarvis Notion"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"directUrls\":[\"https://www.instagram.com/openai/\",\"https://www.instagram.com/anthropicai/\"],\"resultsLimit\":10,\"resultsType\":\"posts\"}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "http-apify-ig",
      "name": "Apify IG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "37nmRPEB7OfEE22B",
          "name": "Apify API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/kaitoeasyapi~twitter-x-data-tweet-scraper-pay-per-result-cheapest/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"searchTerms\":[\"Claude AI workflow\",\"AI automation use case\",\"prop firm trading bot\"],\"maxTweets\":50,\"sort\":\"Latest\"}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "http-apify-x",
      "name": "Apify X",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "37nmRPEB7OfEE22B",
          "name": "Apify API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== v7.2: Authenticated calls moved to HTTP Request nodes =====\n// This Code node only does:\n// 1. Extract channels from Notion HTTP response → fetch public YouTube RSS\n// 2. Read IG/X results from upstream HTTP Request nodes\n// 3. Combine all into feedText\n\nfunction extractAtomEntries(xml, sourceName, maxItems = 5, hoursAgo = 72) {\n  if (!xml || typeof xml !== 'string') return [];\n  const entries = [];\n  const cutoff = new Date(Date.now() - hoursAgo * 60 * 60 * 1000);\n  const regex = /<entry>(.*?)<\\/entry>/gs;\n  let match;\n  while ((match = regex.exec(xml)) !== null && entries.length < maxItems) {\n    const titleMatch = match[1].match(/<title>(.*?)<\\/title>/);\n    const pubMatch = match[1].match(/<published>(.*?)<\\/published>/);\n    const descMatch = match[1].match(/<media:description>(.*?)<\\/media:description>/s);\n    const linkMatch = match[1].match(/<link[^>]+href=\"([^\"]+)\"/);\n    if (titleMatch) {\n      const pubDate = pubMatch ? new Date(pubMatch[1]) : new Date(0);\n      if (pubDate >= cutoff) {\n        entries.push({\n          source: sourceName,\n          title: titleMatch[1].trim(),\n          description: descMatch ? descMatch[1].replace(/<[^>]*>/g, '').substring(0, 200).trim() : '',\n          published: pubMatch ? pubMatch[1] : '',\n          link: linkMatch ? linkMatch[1] : ''\n        });\n      }\n    }\n  }\n  return entries;\n}\n\n// ===== 1. Notion Channels → YouTube RSS (public, no auth needed) =====\nlet allYtEntries = [];\ntry {\n  const notionData = $('Notion Channels').first().json;\n  const results = notionData.results || [];\n  const channels = [];\n  for (const page of results) {\n    const props = page.properties;\n    const type = props['類型']?.select?.name || '';\n    const name = props['Name']?.title?.[0]?.plain_text || '';\n    if (type === '📺 頻道') {\n      const channelId = props['Channel ID']?.rich_text?.[0]?.plain_text || '';\n      if (channelId && name) channels.push({ name, channelId });\n    }\n  }\n  for (const ch of channels) {\n    try {\n      const url = `https://www.youtube.com/feeds/videos.xml?channel_id=${ch.channelId}`;\n      const res = await this.helpers.httpRequest({ method: 'GET', url, timeout: 10000 });\n      allYtEntries.push(...extractAtomEntries(String(res), ch.name));\n    } catch (e) {}\n  }\n} catch (e) {}\n\n// ===== 2. Get IG posts from HTTP Request node (fullResponse: {body: [...]}) =====\nlet igPosts = [];\ntry {\n  const igData = $('Apify IG').first().json;\n  const raw = igData.body || igData;\n  if (Array.isArray(raw)) igPosts = raw;\n} catch (e) {}\n\n// ===== 3. Get X tweets from HTTP Request node (fullResponse: {body: [...]}) =====\nlet xTweets = [];\ntry {\n  const xData = $('Apify X').first().json;\n  const raw = xData.body || xData;\n  if (Array.isArray(raw)) {\n    xTweets = raw.filter(t => t.text && !t.demo && !t.noResults);\n  }\n} catch (e) {}\n\n// ===== 4. Sort tweets by engagement =====\nxTweets.sort((a, b) => {\n  const scoreA = (a.likeCount || 0) + (a.retweetCount || 0) * 2;\n  const scoreB = (b.likeCount || 0) + (b.retweetCount || 0) * 2;\n  return scoreB - scoreA;\n});\n\n// ===== 5. Combine all into feedText =====\nlet feedText = '';\n\nif (xTweets.length > 0) {\n  feedText += '\\n\\n--- 🐦 X/Twitter 實際應用分享 ---\\n';\n  for (const tweet of xTweets.slice(0, 40)) {\n    const username = tweet.author?.userName || '?';\n    const text = (tweet.text || '').substring(0, 300);\n    const likes = tweet.likeCount || 0;\n    const retweets = tweet.retweetCount || 0;\n    const url = tweet.url || '';\n    feedText += `- [@${username}] ${text}\\n  ❤️ ${likes} 🔄 ${retweets}\\n`;\n    if (url) feedText += `  🔗 ${url}\\n`;\n  }\n}\n\nif (allYtEntries.length > 0) {\n  feedText += '\\n\\n--- 🎬 YouTube 頻道更新（72h） ---\\n';\n  for (const entry of allYtEntries) {\n    feedText += `- [${entry.source}] ${entry.title}\\n`;\n    if (entry.description) feedText += `  ${entry.description}\\n`;\n    if (entry.link) feedText += `  🔗 ${entry.link}\\n`;\n  }\n}\n\nif (igPosts.length > 0) {\n  feedText += '\\n\\n--- 📸 Instagram ---\\n';\n  for (const post of igPosts.slice(0, 10)) {\n    const owner = post.ownerUsername || '?';\n    const caption = (post.caption || '').substring(0, 300);\n    const likes = post.likesCount || 0;\n    const url = post.url || (post.shortCode ? `https://www.instagram.com/p/${post.shortCode}/` : '');\n    feedText += `- [@${owner}] ${caption}\\n  ❤️ ${likes}\\n`;\n    if (url) feedText += `  🔗 ${url}\\n`;\n  }\n}\n\nconst ytCount = allYtEntries.length;\nconst igCount = igPosts.length;\nconst xCount = xTweets.length;\n\nif (ytCount === 0 && igCount === 0 && xCount === 0) {\n  feedText = '（今日所有來源都抓取失敗，請手動檢查設定）';\n}\n\nreturn [{ json: { feedText, ytCount, igCount, xCount, totalCount: ytCount + igCount + xCount } }];",
        "mode": "runOnceForAllItems",
        "language": "javaScript"
      },
      "id": "code-combine-all",
      "name": "Combine All Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-5-20250929', max_tokens: 4096, system: '你是 Ray 的 AI 管家 Jarvis v7.0。\\n\\nRay 是一個 YouTube 內容創作者，專注於 Prop Firm 交易教學，同時也在開發 AI 自動化工具（RayOS）。\\n\\n以下是過去 72 小時從 X/Twitter、YouTube、Instagram 收集到的資訊。請幫我：\\n\\n1. 從所有來源中，挑出最值得我關注的 20 則\\n2. 分類為：🤖 AI/Tech、📈 Trading、🎬 Content Creation\\n3. 每則用 2-3 句繁體中文摘要\\n4. 每則底下附上來源超連結（用原始 feed 中的 🔗 URL）\\n5. 只在真正值得行動的項目標註「⚡ 行動建議」，不是每則都要\\n6. 結尾附上三個總結判斷（見輸出格式）\\n\\n內容偏好（非常重要）：\\n- 最重視：X/Twitter 上真實的人分享他們實際使用 AI/工具的心得、成果、工作流程（例如「我用 Claude 幫我做了 XXX」「我靠這個工具省了 X 小時」這類實戰分享）\\n- 次重視：可以直接用在我工作流程的工具或方法\\n- 也關注：交易產業的重大變化或新規定、值得拍影片講的話題\\n- 不太在意：純知識型新聞（「某公司發布了什麼」「某技術原理是什麼」），除非跟我的工作直接相關\\n\\n過濾掉：\\n- 純炒作、沒有實質內容的推文\\n- 跟我領域完全無關的技術新聞\\n- 重複的資訊（不同來源講同一件事只留一則）\\n- 超過 72 小時的舊資訊\\n- 明顯的垃圾推文或 bot 內容\\n\\n輸出格式（使用 Telegram HTML 標籤）：\\n\\n<b>📊 Jarvis 每日情報 v7.0</b>\\n\\n<b>🤖 AI/Tech（N 則）</b>\\n\\n1. <b>[X] 標題</b> — 摘要 2-3 句\\n   ⚡ <i>行動建議（如果值得行動）</i>\\n   🔗 <a href=\"URL\">@來源帳號</a>\\n\\n2. <b>[YT] 標題</b> — 摘要 2-3 句\\n   🔗 <a href=\"URL\">@來源頻道</a>\\n\\n<b>📈 Trading（N 則）</b>\\n...\\n\\n<b>🎬 Content Creation（N 則）</b>\\n...\\n\\n---\\n<b>🎯 今日最重要的一件事：</b>\\n<i>{從以上所有資訊中，挑出最值得我注意的}</i>\\n\\n<b>📌 本週趨勢觀察：</b>\\n<i>{綜合近期資訊，觀察到的趨勢方向}</i>\\n\\n<b>💡 給 Ray 的建議：</b>\\n<i>{根據 Ray 是 YouTube 創作者 + Prop Firm 交易者的身份，具體建議他可以做什麼}</i>\\n\\n重要規則：\\n- 使用 HTML 標籤格式化（<b>粗體</b>、<i>斜體</i>、<a href=URL>連結</a>）\\n- 每則消息必須附上可點擊的來源連結（<a href=URL>來源</a>）\\n- 來源連結用每則 feed 資料中的 🔗 URL\\n- 如果 feed 中沒有連結，就不要硬加（寫「來源：平台名」即可）\\n- 每則標題前用 [X]、[YT]、[IG] 標示來源平台\\n- ⚡ 行動建議只在真正值得行動時才加，不是每則都要\\n- 絕對不要用 Markdown 的 * 或 ** 或 ` 格式\\n- 如果需要顯示 < > 符號，用 &lt; &gt; 替代\\n- 保持訊息乾淨', messages: [{ role: 'user', content: '以下是過去 72 小時的資訊 feeds（X ' + $json.xCount + ' 則 + YouTube ' + $json.ytCount + ' 支 + IG ' + $json.igCount + ' 則）：\\n' + $json.feedText + '\\n\\n請整理成 20 則精選情報。重點關注 X/Twitter 上的實際應用分享，每則都要附上來源連結。結尾附上趨勢觀察和給 Ray 的建議。' }] }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "claude-digest-001",
      "name": "Claude Curate Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "WWmI3Lnd1wXqanNm",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 格式化摘要 v7.2 + 分段（避免 Telegram 4096 字元限制）\nconst content = $input.first().json;\nlet text = '';\n\nif (content.content && content.content[0] && content.content[0].text) {\n  text = content.content[0].text;\n} else {\n  text = '⚠️ Claude API 回覆異常，請手動檢查 workflow。';\n}\n\n// 移除 Markdown 格式，保留 HTML\ntext = text.replace(/\\*\\*/g, '');\ntext = text.replace(/\\*/g, '');\n\n// 加上日期和簽名\nconst now = new Date();\nconst taipeiOffset = 8 * 60;\nconst taipeiTime = new Date(now.getTime() + (taipeiOffset + now.getTimezoneOffset()) * 60000);\nconst today = taipeiTime.toISOString().split('T')[0];\nconst hour = taipeiTime.getHours();\nconst period = hour < 14 ? '☀️ 早安' : '🌙 晚安';\n\n// 加上抓取統計\nconst fetchNode = $('Combine All Sources').first().json;\nconst stats = `📊 來源：X ${fetchNode.xCount || 0} 則 / YT ${fetchNode.ytCount || 0} 支 / IG ${fetchNode.igCount || 0} 則`;\n\ntext += `\\n\\n---\\n📅 ${today} ${period} | ${stats}\\n🤖 Ray AI 管家 Jarvis v7.2`;\n\n// 分段處理（Telegram 單則訊息上限 4096 字元）\nconst MAX_LEN = 4000;\nif (text.length <= MAX_LEN) {\n  return [{ json: { digest: text, parseMode: 'HTML' } }];\n}\n\nconst sections = text.split('\\n\\n');\nconst messages = [];\nlet current = '';\nfor (const section of sections) {\n  if ((current + '\\n\\n' + section).length > MAX_LEN && current.length > 0) {\n    messages.push(current.trim());\n    current = section;\n  } else {\n    current = current ? current + '\\n\\n' + section : section;\n  }\n}\nif (current.trim()) messages.push(current.trim());\n\nreturn messages.map((msg) => ({ json: { digest: msg, parseMode: 'HTML' } }));"
      },
      "id": "code-format-001",
      "name": "Format Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "925855884",
        "text": "={{ $json.digest }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "tg-send-digest",
      "name": "Send Daily Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "QMuhJl4v8rLYHC9x",
          "name": "Jarvis AI v7.0"
        }
      }
    },
    {
      "parameters": {
        "chatId": "925855884",
        "text": "⚠️ Jarvis Daily Digest v7.2 執行出錯\n\n請到 n8n 檢查 workflow 執行紀錄。",
        "additionalFields": {}
      },
      "id": "tg-send-error",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "QMuhJl4v8rLYHC9x",
          "name": "Jarvis AI v7.0"
        }
      }
    }
  ],
  "connections": {
    "Every Day 8AM": {
      "main": [
        [
          {
            "node": "Notion Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Day 9PM": {
      "main": [
        [
          {
            "node": "Notion Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Channels": {
      "main": [
        [
          {
            "node": "Apify IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify IG": {
      "main": [
        [
          {
            "node": "Apify X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify X": {
      "main": [
        [
          {
            "node": "Combine All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Sources": {
      "main": [
        [
          {
            "node": "Claude Curate Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Curate Digest": {
      "main": [
        [
          {
            "node": "Format Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Digest": {
      "main": [
        [
          {
            "node": "Send Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Taipei",
    "availableInMCP": false
  }
}